* {
    box-sizing: border-box
}

body{
    background-color:#edf7d4;
    font-family:Arial, Tahoma; 
}

.page_head,
.page_description{
    text-align: center
}

.page_head{
    font-size: 40px;
    margin: 30px 0 0;
}
.page_description{
    font-size: 22px;
    margin: 15px 0 60px;
}